html {
  margin: 2rem 0;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0 1rem;
}

h1,
h2,
p {
  margin: 0 0 1rem 0;
}

.statistics {
  display: flex;
}

.statistic {
  margin-right: 1rem;
  text-align: center;
}

.statistic__num {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
